<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeHandlers>
        <!-- UUIDタイプハンドラ -->
        <typeHandler
            handler="com.example.keirekipro.infrastructure.shared.mybatis.UUIDTypeHandler"
            javaType="java.util.UUID"/>
        <!-- YearMonthタイプハンドラ -->
        <typeHandler
            handler="com.example.keirekipro.infrastructure.shared.mybatis.YearMonthTypeHandler"
            javaType="java.time.YearMonth" />
    </typeHandlers>
</configuration>
