<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.keirekipro.infrastructure.repository.auth.mapper.UserAuthProviderMapper">

    <select id="findUserIdByProvider" resultType="java.util.UUID">
        SELECT
            user_id
        FROM
            user_auth_providers
        WHERE
            provider_type = #{providerType}
        AND provider_user_id = #{providerUserId}
    </select>

    <insert id="registerAuthProvider">
        INSERT INTO user_auth_providers(
            id,
            user_id,
            provider_type,
            provider_user_id,
            created_at,
            updated_at
        )
        VALUES(
            #{id},
            #{userId},
            #{providerType},
            #{providerUserId},
            NOW(),
            NOW()
        )
    </insert>

    <select id="countByUserIdAndProviderType" resultType="int">
        SELECT
            COUNT(*)
        FROM
            user_auth_providers
        WHERE
            user_id = #{userId}
        AND provider_type = #{providerType}
    </select>

    <update id="updateProviderUserId">
        UPDATE
            user_auth_providers
        SET
            provider_user_id = #{providerUserId},
            updated_at = NOW()
        WHERE
            user_id = #{userId}
        AND provider_type = #{providerType}
    </update>

</mapper>
