spring:
  config:
    import: aws-secretsmanager:keirekipro/rds;keirekipro/redis;keirekipro/jwt
  datasource:
    url: jdbc:postgresql://${host}:${port}/${database}
    username: ${username}
    password: ${password}
  data:
    redis:
      host: ${redis-host}
      port: ${redis-port}
      password: ${redis-password}
  cloud:
    aws:
      endpoint: http://localstack:4566
      region:
        static: ap-northeast-1
      credentials:
        access-key: dummy
        secret-key: dummy
      s3:
        path-style-access-enabled: true

jwt:
  secret: ${jwt-secret}

frontend-base-url: "http://localhost:5173"

cors:
  allowed-origins: "http://localhost:5173"

cookie:
  secure: false

# ログ設定
logging:
  level:
    com.example.keirekipro.infrastructure.repository: trace         # MyBatisのSQLログを出力
    org.springframework.web: debug                                  # Spring Webのログを出力
    org.flywaydb.core: debug                                        # Flywayのログを出力
    org.springframework.security: debug                             # Spring Securityのログを出力
  structured:
    format:
      console:

# Sprig Boot Actuator設定
# /actuator/health: アプリケーションの健康状態を表示
# /actuator/info: 任意のアプリケーション情報を表示
# /actuator/metrics: 現在のアプリケーションのメトリクス情報を表示
# /actuator/env: Environmentからのプロパティを表示
# /actuator/beans: アプリケーション内のすべてのSpring Beanの完全なリストを表示
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    env:
      show-values: always

# Swagger UI設定
# /swagger-ui.html: Swagger UIを表示
# /v3/api-docs: Swagger JSONを表示
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
  packages-to-exclude:
    - com.example.demo.test.controller
