spring:
  application:
    name: keirekipro
  web:
    locale: ja_JP
    locale-resolver: fixed
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
  freemarker:
    template-loader-path: classpath:/mail/
    prefer-file-system-access: false

mybatis:
  config-location: "classpath:/mybatis/mybatis-config.xml"
  type-aliases-package: com.github.onozaty.mybatis.pg.type.list

app:
  siteName: "KeirekiPro"
  siteUrl: "https://keirekipro.click"

oidc:
  providers:
    google:
      authorizationEndpoint: "https://accounts.google.com/o/oauth2/v2/auth"
      tokenEndpoint: "https://oauth2.googleapis.com/token"
      userInfoEndpoint: "https://openidconnect.googleapis.com/v1/userinfo"
      scopes: "openid email profile"
      providerType: "google"
      secretName: "keirekipro/oidc/google"
    github:
      authorizationEndpoint: "https://github.com/login/oauth/authorize"
      tokenEndpoint: "https://github.com/login/oauth/access_token"
      userInfoEndpoint: "https://api.github.com/user"
      scopes: "read:user user:email"
      providerType: "github"
      secretName: "keirekipro/oidc/github"

logging:
  structured:
    format:
      console: ecs
    ecs:
      service:
        name: ${spring.application.name}
        environment: ${SPRING_PROFILES_ACTIVE:local}
        version: ${APP_VERSION:unknown}
    json:
      rename:
        traceId: trace.id # traceIdをtrace.idとして出力する
        spanId: span.id # spanIdをspan.idとして出力する
  level:
    org.apache.pdfbox.pdmodel.font.PDType1Font: ERROR

management:
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      export:
        enabled: false # OTLP exportを無効化
